.home_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20px;
    flex: 1;

    .home_top {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .head { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: default;

            p {
                font-size: var(--font-size-xl);
                font-weight: bold;
                letter-spacing: 2px;
                text-align: center;

                .primary {
                    color: var(--color-primary);
                }

                .gray {
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                    -webkit-background-clip: text;
                    color: transparent;
                    opacity: 50%;
                    transition: 0.3s linear;
                }
            }
        }

        .search_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .search {
                display: flex;
                justify-content: space-around;
                gap: 100px;
                align-items: center;
                background-color: var(--color-search);
                padding: 10px 30px;
                border-radius: 5px;
                border: 1px solid var(--color-border);
    
                .input_content {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
    
                    .icon {
                        color: var(--color-text);
                    }
    
                    input {
                        outline: none;
                        background: transparent;
                        font-size: var(--font-size-text);
                        padding: 5px;
                        color: var(--color-text);
                    }
                }
    
                .search_btn {
                    background-color: var(--color-primary);
                    color: var(--color-bg);
                    letter-spacing: 2px;
                    padding: 4px 14px;
                    border-radius: 5px;
                    transition: 0.3s linear;
                    font-size: var(--font-size-text);
                    cursor: pointer;
                }
    
                .search_btn:hover {
                    background-color: var(--color-primary-variant);
                }
    
            }

            .search-tag {
                font-size: var(--font-size-text);
                color: var(--color-text);
            }
        }

    }

    .home_bottom {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .no-card {
            font-size: var(--font-size-text);
            color: var(--color-text);
            text-align: center;
        }
    }

    @media screen and (max-width: 720px) {
        .home_top {
            padding-top: 50px;

            .head {
                p {
                    letter-spacing: 1;
                }
            }

            .search_wrapper {
                .search {
                    gap: 50px;
                    padding: 5px 10px;

                    .search_btn {
                        padding: 2px 7px;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 420px) {
        .home_top {
            padding-top: 20px;

            .search_wrapper {
                .search {
                    gap: 20px;
                }
            }
        }
    }
    
    @media screen and (max-width: 350px) {
        .home_top {
            .search_wrapper {
                .search {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }
    }
}

